<div class="container" id="home-container">
  <div class="card mb-3">
    <img class="card-img-top" src="<%= asset_url('IMG_5419.JPG') %>" style="width: 20rem" alt="Jason Malabute" class="center">
    <div class="card-body">
      <h5 class="card-title">My Story</h5>
      <p class="card-text">
        Born in Los Angeles, California, Jason Malabute, an MBA, is a seasoned Real Estate Investor, an active Philanthropist, and a CPA (Certified Public Accountant).
        Despite being born with a condition called ‘Cerebral Palsy’ that affects speech and muscle movement, Jason Malabute never took it as an excuse and used his disability as a motivation instead. 
        When asked about his motivation, “I want to be a role model to kids with disabilities and kids from low-income neighborhoods of what is possible”, is what he said. 
      </p>   
      <p class="card-text">   
        Jason Malabute started his real estate journey in 2018 and studied real estate for 1 whole year before finally investing in three rentals in the very first year of 2019, in Indianapolis. 
        After successfully following the investment strategy called BRRRR (Buy, Rehab, Rent, Refinance, and Repeat) for multiple properties, Mr Malabute took the leap from single-family to multifamily investing under the mentorship of Sterling White.
        Sterling White is the founder of Sonders Investment Group and is involved with both buying and selling over 100 single family homes. Mr. White has recently scaled his portfolio to just under 500 multi family apartment units.
      </p> 
      <p class="card-text"> 
        Following the footsteps of Sterling White, today, Jason Malabute is the proud owner of Malabute Properties LLC and has recently exited out from all the single-family homes in 2021. He has now totally submerged into the multifamily investing in Indianapolis and Kansas City areas, where his prime interest remains in acquiring 6-30 unit apartment buildings.
      </p>  
      <p class="card-text">  
        While talking about his favorite books, Jason Malabute tenderly mentions “Long-Distance Real Estate Investing; How to Buy, Rehab, and Manage Out-of-State Rental Properties” by David Greene; The 10x Rule by Grant Cardone, and Rich Dad Poor Dad by Robert T. Kiyosaki.
        Apart from reading and learning more about real estate, Jason is highly interested in working out, traveling, attending sports events, blogging (on Bigger Pockets), and spending time with friends and family. “Sky’s the limit”, is what he truly believes in and strives to show by his work.
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>