<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <div class="card">
      <div class="card-body">
        <h1 class="display-4">MULTI-FAMILY REAL ESTATE INVESTOR</h1>
        <h1 class="lead">We Value Relationships Over Transactions</h1>
      </div>
    </div>    
  </div>
  <hr />
  <div class="schedule-call text-center">
    <h3>Schedule a call with me</h3>
      <div class="calendly-inline-widget" style="width: auto; height: auto;" data-auto-load="false">
        <iframe src="https://calendly.com/malabute-real-estate/jasonmalabute" width="100%" height="650" scrolling="no" frameborder="0"></iframe>
      </div>
  </div>
  <hr />
  <div class="elfsight-inline-widget" style="min-width: 320px; height: 580px;" data-auto-load="false"> 
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
     <div class="elfsight-app-af785534-d6dc-4623-a7aa-019b8dab4d6a"></div>
     <div style="width: 100%; text-align: center;">
  <hr />
</div>
