<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Privacy Policy</h5>
      <h6 class="card-subtitle mb-2 text-muted">This policy was last modified on August 30, 2016.</h6>
      <p class="card-text">The web site you have entered (jasonmalabute.com, its sub-domains and any services available therefrom, including any mobile versions of the web site or mobile applications) (the “Site”) is independently operated by Jason and his team (“we” or “us”). We respect your privacy rights and recognize the importance of protecting information collected from you and about you. This privacy policy (the “Privacy Policy”) describes how we collect, use, and share that information. Your use of the Site constitutes your acceptance of this Privacy Policy.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">1. Collection of Information</h5>
      <h6 class="card-subtitle mb-2 text-muted">We collect personally identifiable information when you voluntarily provide it to us.</h6>
      <p class="card-text">We collect personally identifiable information from you in several different ways on the Site. Personally identifiable information means information that can reasonably used to identify you personally, such as your name, username(s), birth date, phone number, and email address). We collect such information when you voluntarily provide it to us (such as when you complete an online account registration, subscription form, contest or sweepstakes entry or comment submission). You can choose not to provide the requested information, but you might not be able to take advantage of certain Site features.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">2. Use of Collected Information</h5>
      <h6 class="card-subtitle mb-2 text-muted">This policy was last modified on August 30, 2016.</h6>
      <p class="card-text">We collect and use the types of information described above to assist in the administration and operation of the Site and to provide you an efficient, meaningful, and customized experience. We may use the information to:</p>
      <ul>
        <li>Fulfill our obligations with respect to any reason you volunteered the information (e.g., to respond to an inquiry, administer a contest or sweepstakes, deliver a newsletter, etc.)</li>
        <li>Fulfill our obligations with respect to any reason you volunteered the information (e.g., to respond to an inquiry, administer a contest or sweepstakes, deliver a newsletter, etc.)</li>
        <li>Deliver marketing, advertising, and promotional messages to you</li>
        <li>Improve the Site or our products and services</li>
        <li>Optimize your experience on the Site (e.g., troubleshooting technical programs, storing your preferences, etc.)</li>
        <li>Show you relevant Site content and advertising on and off the Site, and analyze Site content and advertising</li>
        <li>Notify you about changes to the Site or our services (including this Privacy Policy)</li>
      </ul>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">3. Advertising</h5>
      <p class="card-text">We use collected information to serve relevant, customized advertising to you. Such advertising (and analysis of advertising) may be conducted by us or third-parties. Your information may be shared with third-parties for advertising delivery, contextual advertising and reporting on such advertising. Generally, these third-parties do not have the right to use this information beyond the scope needed to execute or support advertising.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">4. Third-party Websites and Third-party Embedded Content</h5>
      <p class="card-text">We do not control the privacy policies of third-party web sites, our affiliates, and business partners which may be accessed, directly or indirectly, through your use of the Site. Any information you provide to, or that is collected by, third-party sites may be subject to the privacy policies of those sites (including third-party content embedded on the Site), if any. It is up to you to review the terms of use and privacy policy of third-party websites or third-party content originators.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">5. How We Share Information</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Partners and Service Providers.</h6>
      <p class="card-text">We may provide collected information to our business partners, clients, licensees, and service providers. They may use your information to perform services for us.</p>
      <h6 class="card-subtitle mb-2 text-muted">Advertisers or Advertising Networks.</h6>
      <p class="card-text">We may provide collected information (either alone or combined with information provided by third-parties or public information) about users of the Site on an aggregated, anonymous basis to our advertisers to help them reach the kind of audience they want to target.</p>
      <h6 class="card-subtitle mb-2 text-muted">Law Enforcement and Safety.</h6>
      <p class="card-text">We may also share or disclose your information to comply with a court order or other legal obligation, to enforce the Site terms of use, and to protect the rights, property or safety of our users and other third-parties. We may disclose information to government or law enforcement officials or private parties as we determine, in our sole and absolute discretion, is necessary or appropriate to respond to claims or to comply with legal processes, to comply with laws, regulations or ordinances or to prevent or stop illegal, unethical or actionable activity.</p>            
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">6. Opting-out of Information Use</h5>
      <p class="card-text">As described above, we collect personally identifiable information about you when you voluntarily provide it to us, collect other information about you and your use of the Site automatically when you interact with us, and may combine the collected information with publicly available information or information provided to us by third-parties or to build a profile about you. If you do not want us to use your collected information as described above or to provide your information to our partners, clients or service providers for marketing purposes, please email us through the contact page with such request.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">7. Protection of Information</h5>
      <p class="card-text">We use reasonable measures to safeguard your information in our possession. However, no data transmission over the Internet is completely secure and no security mechanism is impenetrable. Therefore, although we take steps to protect your information, we cannot guarantee the security of the information that we collect from you or the security of our servers or the Site. By accessing the Site, any transmission of information is at your own risk and you agree to assume all risk in connection with information sent to us or collected by us.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">8. User Contributions</h5>
      <p class="card-text">You are responsible for content that you contribute to be published or displayed on the Site or transmit to other users of the Site (“User Contributions”), if any. Your User Contributions are posted on and transmitted to other users of the Site at your own risk. Additionally, we cannot control the actions of other users of the Site with whom you may choose to share your User Contributions. Therefore, we cannot and do not guarantee that your User Contributions will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Site. You understand and acknowledge that, even after removal, copies of your User Contributions may remain viewable in cached or archived pages or might have been copied or stored by others.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">9. Foreign Jurisdiction</h5>
      <p class="card-text">The Site is designed for and targeted to United States audiences and are governed by and operated in accordance with the laws of the United States. We are not responsible under any privacy laws or local data protection laws in any jurisdiction other than the United States.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">10. Children and Parents</h5>
      <p class="card-text">We respect children’s privacy. We do not target or knowingly or intentionally collect personally identifiable information from children under the age of 13. By using the Site, you have represented and warranted that you are either 18 years of age or using the Site with the supervision of a parent or guardian. If you are under the age of 13, you may not use the Site. If you become aware that your child has provided us with personal information without your consent, please email us through the contact page with such request. If you are a California resident under the age of 18 and a registered user of the Site, California Business and Professions Code Section 22581 permits you to request and obtain removal of content or information you have publicly posted, including user submissions. To make such a request, please email us through the contact page with such request. Please be aware that such a request does not ensure complete or comprehensive removal of the content or information you have posted (including User Submissions, if any) and that there may be circumstances in which the law does not require or allow removal even if requested.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">11. Your California Privacy Rights</h5>
      <p class="card-text">If you are a California resident, California Civil Code Section 1798.83 permits you to request information regarding the disclosure of your personal information by us to third-parties for direct marketing purposes. To make such a request, please email us.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">12. Miscellaneous</h5>
      <p class="card-text">From time to time we may modify this Privacy Policy to reflect, among other things, changes in the law or our information collection and use practices and such modifications shall be effective upon posting by us. Your continued use of the Site after a revised Privacy Policy signifies your acceptance of the revised Privacy Policy. It is important that you review this Privacy Policy regularly to ensure you are updated as to any changes.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">13. Contact Us</h5>
      <p class="card-text">If you have any general questions about this Privacy Policy or other aspects of the Site please reach out via the contact form on this site.</p>
    </div>
  </div>
</div>
