<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
          <div class="links">
                <a href="/categories/1" target="_blank">Podcasts</a>
                <a href="http://www.facebook.com/groups/passivemultifamilyinvestor/" target="_blank">Passive Multifamily Investor Group</a>
                <a href="/about">About Me</a>
                <a href="/contact_us">Contact Us</a>
        </div>
        <footer>
            <div class="social-media">
                        <a href="https://m.facebook.com/profile.php?id=100070982033578&_rdr" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://instagram.com/jasonmalabute?igshid=1qlby6ahcn198" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jason-malabute-cpa-mba-31649550/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.tiktok.com/@jasonmalabute?lang=en" target="_blank"><i class="fab fa-tiktok"></i></a>
                        <a href="https://mobile.twitter.com/jasonmalabute" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.biggerpockets.com/member-blogs/13653-jason-malabute-s-investing-journey" target="_blank">
                    <img src="https://images.squarespace-cdn.com/content/v1/578d631e59cc68eeb0cb8104/1469043257016-8OP6IHMXP3LE1QQY6RG7/image-asset.png?format=300w" style="width: 10%; height: 10%;" />
                </a>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/fc9e053d84.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="app.js"></script>
    <small>Copyright Jason Malabute &copy; |  <%= link_to "Privacy Policy", "/privacy_policy", class: "text-white" %> | <%= link_to "Terms and Conditions", "/terms_of_service", class: "text-white" %></small>
  </div>
</footer>